doctype html
html(lang="pl-PL")
  head
    meta(charset="UTF-8")
    title Sample application | Company
    style
      include style.css
  body
    nav
      span(class='text') Wersja: #{version}
    main
      h1 Technical Company
      p(class='text') We drive cloud transformation